.lightbox {
    width: 100%;
    height: 100%;
    position: fixed;
    background: $noirLightBox;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .lightbox__container__pic {
        display: flex;
        width: 500px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        position: relative;

        .lightbox__main__pic {
            width: 100%;
            margin: 0 auto 30px;
            border-radius: 15px;
            cursor: pointer;
            overflow: hidden;
            transform: translateX(25px);
            transition: opacity 0.1s, transform 0.1s ease-out;
            opacity: 0;
            &.lightbox__animation {
                transform: rotate(0deg) translateX(0%);
                opacity: 1;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
        .lightbox__thumbnail__pic {
            width: 15%;
            height: auto;
            margin-right: 20px;
            border-radius: 15px;
            cursor: pointer;
            overflow: hidden;
            &:hover {
                background: $white;
            }

            &:last-child {
                margin-right: 0;
            }

            img {
                width: 100%;
                height: 100%;
                transform: translateY(1px);
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

.close {
    position: absolute;
    top: -30px;
    right: 0;
    cursor: pointer;
    &:hover {
        filter: sepia(1) contrast(10) brightness(0.9);
    }
}
.next,
.previous,
.next1,
.previous1 {
    position: absolute;
    width: 50px;
    height: 50px;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    img {
        pointer-events: none;
        filter: contrast(10);
    }
    &:hover {
        img {
            filter: sepia(1) contrast(10) brightness(0.9);
        }
    }
}

.next,
.next1 {
    top: 40%;
    right: 0;
    transform: translate(50%, -50%);
}

.previous,
.previous1 {
    top: 40%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.lightbox__img__active__box {
    outline: 3px solid $orange;
    background: $white;
}
.lightbox__img__active {
    opacity: 0.5;
}

.inactive__lightbox {
    display: none;
}
